@import "button";
@import "container";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
body {
  background-color: $theme-color;
}