/* Color Theme Swatches in RGBA */
$theme-color-l: rgba(252,252,239, 1);
$theme-color:  rgba(89,80,49, 1);
$theme-color-red:  rgba(249,151,127, 1);
$theme-color-d: rgba(114,98,58, 1);
$theme-color-dx: rgba(58,54,53, 1);
$theme-color-dark: rgba(14,5,0, 1);